<!DOCTYPE html>
<html lang="en">
<html xmlns:th="http://www.thymeleaf.org" lang="it">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.8/dist/css/bootstrap.min.css">
    <link rel="stylesheet" th:href="@{/css/app.css}">
    <title>songs</title>
</head>
<body>

    <nav th:replace="~{navbar :: navbar('songs')}"></nav>
   <div class="container text-center">
        <h1 class="py-3">Best Songs</h1>
        <div class="">
            <div class="d-flex justify-content-center mb-1" 
            th:each="item : ${songs}">
                <div th:replace="~{fragments :: list(@{/songs/{id}(id=${item.id})}, ${item.titolo})}"></div>
            </div>
        </div>
    </div>

    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.8/dist/js/bootstrap.bundle.min.js"></script>
</body>
</html>